dist
.vscode/
.snakemake/
*.project
*~
*.pydevproject
*.pyc
target
work
*.nextflow*
.vscode
*.tmp
*.mmi
*.snakemake*
.log
*.ipnyb
development/
run/
# pixi environments
.pixi
*.egg-info
